@import "tailwindcss";

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-float-delayed-1 {
  animation: float 5s ease-in-out infinite 1s;
}

.animate-float-delayed-2 {
  animation: float 4.5s ease-in-out infinite 2s;
}

.animate-float-delayed-3 {
  animation: float 5.5s ease-in-out infinite 1.5s;
}